In [3]:
import nltk
import pandas as pd

ModuleNotFoundError: No module named 'nltk'

In [2]:
nltk.download('punkt')

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\JAIMIN\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping tokenizers\punkt.zip.

True

In [7]:
fake=pd.read_csv("Fake.csv")
genuine=pd.read_csv("True.csv")

In [9]:
display(fake.head())

,title,text,subject,date
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017"
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017"
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017"
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017"
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017"

In [10]:
fake['genuieness']=0
genuine['genuieness']=1

In [11]:
data = pd.concat([fake,genuine],axis=0)

In [12]:
display(data)

,title,text,subject,date,genuieness
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017",0
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017",0
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017",0
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017",0
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017",0
...,...,...,...,...,...
21412,'Fully committed' NATO backs new U.S. approach...,BRUSSELS (Reuters) - NATO allies on Tuesday we...,worldnews,"August 22, 2017",1
21413,LexisNexis withdrew two products from Chinese ...,"LONDON (Reuters) - LexisNexis, a provider of l...",worldnews,"August 22, 2017",1
21414,Minsk cultural hub becomes haven from authorities,MINSK (Reuters) - In the shadow of disused Sov...,worldnews,"August 22, 2017",1
21415,Vatican upbeat on possibility of Pope Francis ...,MOSCOW (Reuters) - Vatican Secretary of State ...,worldnews,"August 22, 2017",1
21416,Indonesia to buy $1.14 billion worth of Russia...,JAKARTA (Reuters) - Indonesia will buy 11 Sukh...,worldnews,"August 22, 2017",1

In [13]:
data=data.reset_index(drop=True)

In [15]:
data=data.drop(['subject','date','title'],axis=1)

In [16]:
#tokenization
from nltk.tokenize import word_tokenize
data['text']=data['text'].apply(word_tokenize)

In [21]:
#steaming
from nltk.stem.snowball import SnowballStemmer
sb=SnowballStemmer("english",ignore_stopwords=False)

In [18]:
def stem_it(text):
    return [sb.stem(word for word in text)]

In [22]:
data['text']= data['text'].apply(stem_it)

AttributeError: 'generator' object has no attribute 'lower'

In [20]:
#stopword removal
def stopword_remove(t):
    return [word for word in t if len(word)>>2]

In [23]:
data['text']=data['text'].apply(stopword_remove)
data

                                                    text  genuieness
0      [Donald, Trump, just, couldn, wish, Americans,...           0
1      [House, Intelligence, Committee, Chairman, Dev...           0
2      [Friday, revealed, that, former, Milwaukee, Sh...           0
3      [Christmas, Donald, Trump, announced, that, wo...           0
4      [Pope, Francis, used, annual, Christmas, messa...           0
...                                                  ...         ...
44893  [BRUSSELS, Reuters, NATO, allies, Tuesday, wel...           1
44894  [LONDON, Reuters, LexisNexis, provider, legal,...           1
44895  [MINSK, Reuters, shadow, disused, Soviet-era, ...           1
44896  [MOSCOW, Reuters, Vatican, Secretary, State, C...           1
44897  [JAKARTA, Reuters, Indonesia, will, Sukhoi, fi...           1

[44898 rows x 2 columns]

In [24]:
data['text']=data['text'].apply(''.join)

In [28]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(data['text'],data['genuineness'],test_size=0.25)
display(x_train.head())
print('\n')
display(y_train.head())

KeyError: 'genuineness'

In [27]:
from sklearn.feature_extraction.text import TfidfVectorizer
my_tfidf = TfidfVectorizer(max_df=0.7)

tfidf_train =my_tfidf.fit_transform(x_train)
tfidf_test= my_tfidf.transform(x_test)

NameError: name 'x_train' is not defined